<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>

<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-8 pt-lg-5 px-lg-3 mt-5">
  
          <div class="card">
            <h5 class="card-header">Upload COVID-19 Testing Documentation</h5>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <form action="/uploadFile" enctype = "multipart/form-data" method = "POST">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">What is your GTID?</span>
                    </div>
                    <input type="text" name = "gtid" class="form-control" required placeholder="Enter your GTID" aria-label="Enter your GTID" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Date of COVID-19 Test</span>
                    </div>
                    <input type="date" required name = "testDate" class="form-control" placeholder="Enter COVID-19 Test Date" aria-label="Enter date of COVID-19 test" aria-describedby="basic-addon1">
                  </div>
                  <p>What was your test result?</p>
                  <div class="input-group mb-3">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name = "testResult" value = "positive" id="customRadioInline1" class="custom-control-input" required>
                        <label class="custom-control-label" for="customRadioInline1">Positive</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name = "testResult" value = "negative" class="custom-control-input" required>
                        <label class="custom-control-label" for="customRadioInline2">Negative</label>
                      </div>
                    </div>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="uploadFiles"
                      name = "covidDoc"
                      aria-describedby="uploadFiles"
                      required
                    />
                    <label class="custom-file-label" for="uploadFiles"
                      >Select COVID-19 Testing Document</label
                    >
                    
                  </div>
                </div>
                <button type="submit" class="btn btn-outline-success">
                  Submit Documentation
                </button>
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="assets/custom_js/upload.js"></script>

<%- include('../partials/footer.ejs') -%>
